# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# Change the hash (#) line and the following lines in this file to add/remove browsers.
# The last `and` attribute will add additional query rules combined by `and`.

last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 2 ios_saf versions
last 2 and_chr versions

